create new article
<form method="POST" action="/articles">
    <div>
        <label for="title">Title: </label>
        <input id="title" type="text" name="title" />
    </div>
    <div>
        <label for="description">Description: </label> <br/>
        <textarea id="description" name="description" rows="5" cols="15"></textarea>
    </div>
    <div>
        <button type="submit">Create</button>
    </div>
</form>