{% include 'Partials/head.twig' %}
{% include 'Partials/navbar.twig' %}
<div class="container">
    <div class="row">
        {% for article in articles %}
            <div class="col-md-6">
                <div class="box">
                    <a href="/articles/{{ article.id }}">
                        <img src="{{ article.picture }}" alt="{{ article.title }}"/>
                        <h3>{{ article.title }}</h3>
                    </a>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% include 'Partials/footer.twig' %}